
<div class="container">
    <div class="signIn-signUp">
        <form action="" class="sign-in-form">
            <h2 class="title">Sign in</h2>
            <div class="input-field">
                <i class="fas fa-user"></i>
                <input type="text" placeholder="Username">
            </div>

            <div class="input-field">
                <i class="fas fa-lock"></i>
                <input type="password" placeholder="Password">
            </div>
            <input type="submit" value="Login" class="btn">
            <p class="social-text">Or sign in with social platform</p>
            <div class="social-media">
                <a href="" class="social-icon">
                    <i class="fab fa-facebook"></i>
                </a>
                <a href="" class="social-icon">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="" class="social-icon">
                    <i class="fab fa-google"></i>
                </a>
                <a href="" class="social-icon">
                    <i class="fab fa-linkedin"></i>
                </a>
            </div>
            <p class="account-text">Don't have an account? <a  href="#"  id="sign-up-btn2">Sign up {{SignUp2()}}</a></p>

        </form>


        <form action="" class="sign-up-form" >
            <h2 class="title">Sign up</h2>
            <div class="input-field">
                <i class="fas fa-user"></i>
                <input type="text" placeholder="Username" formControlName="Username">
            </div>

            <div class="input-field">
                <i class="fas fa-envelope"></i>
                <input type="text" placeholder="Email" formControlName="Email">
            </div>

            <div class="input-field">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <input type="tel" placeholder="Number" formControlName="Number">
            </div>

            <div class="input-field">
                <i class="fas fa-lock"></i>
                <input type="password" placeholder="Password" formControlName="Password">
            </div>
            <input type="submit" value="Sign up" class="btn"  >
            <p class="social-text">Or sign in with social platform</p>
            <div class="social-media">
                <a href="" class="social-icon">
                    <i class="fab fa-facebook"></i>
                </a>
                <a href="" class="social-icon">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="" class="social-icon">
                    <i class="fab fa-google"></i>
                </a>
                <a href="" class="social-icon">
                    <i class="fab fa-linkedin"></i>
                </a>
            </div>
            <p class="account-text">Already have an account? <a href="#" id="sign-in-btn2">Sign in {{SignIn2()}}</a></p>
        </form>
    </div>
    <div class="panels-container">
        <div class="panel left-panel">
            <div class="content">
                <h3>Member of FinancialGlow?</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellendus nostrum tempore labore libero dicta fugit.</p>
                <button class="btn" id="sign-in-btn">Sign in {{SignIn()}}</button>
            </div>
            <img src="assets/electricity.png" alt="image" class="image">
        </div>

        <div class="panel right-panel">
            <div class="content">
                <h3>New to FinancialGlow?</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellendus nostrum tempore labore libero dicta fugit.</p>
                <button class="btn" id="sign-up-btn">Sign up {{SignUp()}}</button>
            </div>
            <img src="assets/Fingerprint.png" alt="image" class="image">
        </div>
    </div>
</div>

